@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,700;1,700&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
/* heder styel */
header{
    background-color:rgb(252, 160, 240);
    padding: 50px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav>ul{
    display: flex;
    gap:20px;
    
    
}
nav li{
    font-weight: 500px;
    font-size: 1rem;
    list-style: none;
}
nav li>a{
    text-decoration: none;
    color: black;
}
.nav-titel{
    font-size: 2.8rem;
    font-weight: 700;
    color: black;

}
/* Bannar styel */
.banner-contan{
    max-width:800px;
    text-align: center;
    margin: 0 auto;
}
.bannre-titel{
    font-size: 4rem;
    font-weight:700 ;
    color: black;
    padding: 0px 120px; 
}
.banner-tex{
color: #727272;
}
.banner-but{
    padding:10px 20px  ;
    background-color: orange;
    border-radius: 10px;
    color: aliceblue;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
} 
.banner img{
    margin-top: 20px;
    width: 100%;
}
/* Main styel */
main{
    max-width: 1440px;
    margin: 70px  auto;
}
.tim{
    display: flex;
    align-items: center;
}
.main-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.cont{
    padding-left: 70px;
    padding-right:70px;

}
.mt{
    font-size: 2.8rem;
}
.ma{
    color: #727272;
    font-weight: 500;
}
.mc{
    color: orange;
    font-weight: 700;
}
/* mobile size styel */
@media screen and (max-width:700px) {
    
    header{
        padding: 0px;
    
}
nav ,.tim{
    flex-direction: column;

}
.main-img{
    grid-template-columns: 1fr;
}
.bannre-titel{
    padding: 10px ;

}
}
/* teblet  */
@media screen and (min-width:700px)and (max-width:1000px){

nav{
    flex-direction: column;
}
header{
    padding: 20px;

}
nav ,.tim{
    flex-direction: column;

}
nav ,.tim{
    flex-direction: column;

}


}


